<a href="https://colab.research.google.com/github/dasihayu/Study---Algoritma-dan-Premrograman/blob/main/Jobsheet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 1 - Menghitung Luas Persegi Panjang**

In [ ]:
p = int(input("Masukkan panjang: "))
l = int(input("Masukkan lebar: "))

luas = p * l
print("Luas persegi panjang =", luas)

Masukkan panjang: 10
Masukkan lebar: 25
Luas persegi panjang = 250

**Praktikum 2 - Menghitung Luas Segitiga (Rumus Heron)**

In [ ]:
import math

a = float(input("Masukkan sisi a: "))
b = float(input("Masukkan sisi b: "))
c = float(input("Masukkan sisi c: "))

s = (a + b + c) / 2
luas = math.sqrt(s * (s - a) * (s - b) * (s - c))
print("Luas segitiga =", luas)

Masukkan sisi a: 5
Masukkan sisi b: 3
Masukkan sisi c: 7
Luas segitiga = 6.49519052838329

**Praktikum 3 - Konversi Suhu Celcius ke Fahrenheit**

In [ ]:
c = float(input("Masukkan suhu (째C): "))
f = (c * 9/5) + 32

print("Hasil konversi =", f, "째F")

Masukkan suhu (째C): 30
Hasil konversi = 86.0 째F

**Praktikum 4 - Menghitung Umur Berdasarkan Tahun Lahir**

In [ ]:
tahun_lahir = int(input("Masukkan tahun lahir: "))
tahun_sekarang = 2025
umur = tahun_sekarang - tahun_lahir
print("Umur anda =", umur, "tahun")

Masukkan tahun lahir: 2007
Umur anda = 18 tahun

**Praktikum 5 - Menghitung Luas Lingkaran**

In [ ]:
import math

r = float(input("Masukkan jari-jari lingkaran: "))
luas = math.pi * r * r

print("Luas lingkaran =", luas)

Masukkan jari-jari lingkaran: 12
Luas lingkaran = 452.3893421169302

**Praktikum 6 - Menjumlahkan Tiga Bilangan**

In [ ]:
a = int(input("Masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua: "))
c = int(input("Masukkan bilangan ketiga: "))

jumlah = a + b + c
print("Jumlah =", jumlah)

Masukkan bilangan pertama: 4
Masukkan bilangan kedua: 5
Masukkan bilangan ketiga: 10
Jumlah = 19

***PENUGASAN***

**Menghitung Volume Balok**

In [ ]:
p = int(input("Masukkan panjang balok: "))
l = int(input("Masukkan lebar balok: "))
t = int(input("Masukkan tinggi balok: "))

V = p * l * t

print("Volume balok adalah:", V)

Masukkan panjang balok: 12
Masukkan lebar balok: 12
Masukkan tinggi balok: 10
Volume balok adalah: 1440

**Konversi Waktu (Detik ke Jam:Menit:Detik)**

In [ ]:
total_detik = int(input("Masukkan waktu dalam detik: "))

jam = total_detik // 3600
sisa = total_detik % 3600
menit = sisa // 60
detik = sisa % 60

print(jam, "jam, ", menit, "menit, ", detik, "detik")

Masukkan waktu dalam detik: 3770
1 jam,  2 menit,  50 detik

**Rata-rata Nilai Tiga Mata Kuliah**

In [2]:
n1 = float(input("Masukkan nilai mata kuliah 1: "))
n2 = float(input("Masukkan nilai mata kuliah 2: "))
n3 = float(input("Masukkan nilai mata kuliah 3: "))

rataRata = (n1 + n2 + n3) / 3

print("Rata-rata nilai =", rataRata)

if rataRata >= 60:
    print("Lulus")
else:
    print("Tidak Lulus")

Masukkan nilai mata kuliah 1: 90
Masukkan nilai mata kuliah 2: 80
Masukkan nilai mata kuliah 3: 30
Rata-rata nilai = 66.66666666666667
Lulus

**Menghitung diskon belanja**

In [3]:
belanja = float(input("Masukkan total belanja: "))

if belanja >= 500000:
    diskon = 0.2 * belanja
elif belanja >= 250000:
    diskon = 0.1 * belanja
else:
    diskon = 0

totalBayar = belanja - diskon

print("Total bayar setelah diskon = Rp", totalBayar)

Masukkan total belanja: 230000
Total bayar setelah diskon = Rp 230000.0