<a href="https://colab.research.google.com/github/dasihayu/Study---Algoritma-dan-Premrograman/blob/main/Jobsheet_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 1 - Membuat dan Mengakses List 1D**

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]

print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

**Praktikum 2 - Update & Operasi Dasar List**

In [ ]:
nilai = [85, 90, 78]

nilai[1] = 95
nilai.append(100)
nilai.remove(78)

print(nilai)

[85, 95, 100]

**Praktikum 3 - Slicing List**

In [ ]:
nilai = [85, 90, 78, 92, 88]

print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

**Praktikum 4 - List 2D (Matriks)**

In [ ]:
matriks = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]

print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

**Praktikum 5 -  Operasi Pada List 2D**

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

**Praktikum 6 - Studi Kasus: Pengelolaan Nilai Mahasiswa**

In [ ]:
nilai = [
  [80, 90, 85],
  [70, 75, 80],
  [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

***PENUGASAN***

**Akses Elemen List**

In [1]:
nama = ["Andi", "Budi", "Cici", "Dedi", "Eka"]

print("Nama pertama:", nama[0])
print("Nama terakhir:", nama[4])
print("Nama pada indeks ke-2:", nama[2])

Nama pertama: Andi
Nama terakhir: Eka
Nama pada indeks ke-2: Cici

**Operasi Dasar List**

In [2]:
nilai = [70, 75, 80]

nilai[1] = 85

nilai.append(90)

nilai.remove(70)

print("Hasil akhir:", nilai)

Hasil akhir: [85, 80, 90]

**Slicing List**

In [3]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("3 elemen pertama:", angka[:3])

print("4 elemen terakhir:", angka[-4:])

print("Elemen dengan indeks genap:")
for i in range(0, len(angka), 2):
    print(angka[i])

3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen dengan indeks genap:
1
3
5
7
9

**List 2D - Matriks**

In [4]:
M = [
    [1, 2, 3],
    [4, 5, 6]
]

print("Baris pertama kolom kedua:", M[0][1])
print("Baris kedua kolom ketiga:", M[1][2])
print("Seluruh baris pertama:", M[0])

Baris pertama kolom kedua: 2
Baris kedua kolom ketiga: 6
Seluruh baris pertama: [1, 2, 3]

**Operasi Matriks 2D**

In [5]:
A = [
    [1, 2],
    [3, 4]
]

B = [
    [5, 6],
    [7, 8]
]

C = [
    [0, 0],
    [0, 0]
]

for i in range(2):
    for j in range(2):
        C[i][j] = A[i][j] + B[i][j]

print("Hasil penjumlahan matriks (C):")
for i in range(2):
    print(C[i])

Hasil penjumlahan matriks (C):
[6, 8]
[10, 12]

**Studi Kasus (Rata - rata Nilai Mahasiswa)**

In [6]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i in range(len(nilai)):
    total = sum(nilai[i])
    rata = total / len(nilai[i])
    print(f"Rata-rata mahasiswa ke-{i+1}: {rata:.2f}")

Rata-rata mahasiswa ke-1: 80.00
Rata-rata mahasiswa ke-2: 65.00
Rata-rata mahasiswa ke-3: 92.33

**Studi Kasus (Data Toko)**

In [7]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("Daftar Barang dan Stok:")
for i in range(len(stok)):
    print(stok[i][0], ":", stok[i][1])

maks_index = 0
for i in range(1, len(stok)):
    if stok[i][1] > stok[maks_index][1]:
        maks_index = i

print("\nBarang dengan stok terbanyak:", stok[maks_index][0], "=", stok[maks_index][1])

Daftar Barang dan Stok:
Buku : 20
Pulpen : 35
Penghapus : 15

Barang dengan stok terbanyak: Pulpen = 35