<a href="https://colab.research.google.com/github/dasihayu/Study---Algoritma-dan-Premrograman/blob/main/Jobsheet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 1 - Pengenalan Variable dan Tipe Data**

In [1]:
#Integer
umur = 18
print(f"Umur : {umur} > {type(umur)} " )

# Float
tinggi = 163.4
print(f"Tinggi: {tinggi} > {type(tinggi)} ")

# String
nama = "Riki"
print(f"Nama: {nama} > {type(nama)}")

# Boolean
is_mahasiswa = True
print(f"Status Mahasiswa: {is_mahasiswa} > {type(is_mahasiswa)}")

# List
nilai = [80, 85, 90]
print(f"Nilai: {nilai} > {type(nilai )}")

# Tuple
koordinat = (56, -456)
print(f"Koordinat: {koordinat} > {type(koordinat)}")

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print(f"Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print(f"Hobi:", hobi, "→", type(hobi))

Umur : 18 > <class 'int'>
Tinggi: 163.4 > <class 'float'>
Nama: Riki > <class 'str'>
Status Mahasiswa: True > <class 'bool'>
Nilai: [80, 85, 90] > <class 'list'>
Koordinat: (56, -456) > <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'musik', 'olahraga', 'membaca'} → <class 'set'>

**Praktikum 2 - Input & Output Dasar (variasi format)**

In [2]:
# Input string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Dasi Hayu Permana
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 175
Halo, Dasi Hayu Permana umur Anda: 18 tahun, tinggi: 175.0 cm
Halo Dasi Hayu Permana, umur Anda 18 tahun, tinggi 175.0 cm
Halo Dasi Hayu Permana, umur Anda 18 tahun, tinggi 175.0 cm

**Praktikum 3 - Operator Aritmatika**

In [3]:
a = 14
b = 8

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 22
a - b = 6
a * b = 112
a / b = 1.75
a // b = 1
a % b = 6
a ** b = 1475789056

**Praktikum 4 - Operator Relasional**

In [4]:
x = 10
y = 21

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

**Praktikum 5 - Operator Logika dengan Studi Kasus Nyata**

In [7]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 72
Masukkan jumlah kehadiran: 10
Status: TIDAK LULUS

**Praktikum 6 - Program Kasir Sederhana**

In [9]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: Pisang
Masukkan harga barang: 50000
Masukkan jumlah barang: 9

===== Struk Belanja =====
Barang : Pisang
Jumlah : 9
Total : Rp 450000.0
Diskon : 10.0%
Bayar : Rp 405000.0

***PENUGASAN***

**Identitas Mahasiswa**

In [11]:
nama = "Dasi Hayu Permana"
umur = 18
tinggi = 175
status_aktif = True

print(f"Halo saya {nama}, sekarang saya berusia {umur} tahun dengan tinggi badan {tinggi}cm. Status mahasiswa aktif saya sekarang adalah {status_aktif} ")

Halo saya Dasi Hayu Permana, sekarang saya berusia 18 tahun dengan tinggi badan 175cm. Status mahasiswa aktif saya sekarang adalah True

**Operasi Aritmatika**

In [13]:
n = (12, 35)

print(f" + {n[0] + n[1]}")
print(f" - {n[0] - n[1]}")
print(f" * {n[0] * n[1]}")
print(f" / {n[0] / n[1]}")
print(f" % {n[0] % n[1]}")
print(f" ** {n[0] ** n[1]}")

 + 47
 - -23
 * 420
 / 0.34285714285714286
 % 12
 ** 59066822915424320448445358917464096768

**Konversi Nilai**

In [18]:
nilai = float(input("Masukkan nilai (112.21) : "))

print(f" (int) {int(nilai)},\n (str) {str(nilai)},\n (round) {round(nilai)}")

Masukkan nilai (112.21) : 314.81
 (int) 314,
 (str) 314.81,
 (round) 315

**Operator Relasional**

In [19]:
print("--- Program Perbandingan Dua Bilangan ---")

angka1 = 19
angka2 = 109

print("\n--- Hasil ---")

print(f"{angka1} == {angka2} adalah {angka1 == angka2}")
print(f"{angka1} != {angka2} adalah {angka1 != angka2}")
print(f"{angka1} < {angka2} adalah {angka1 < angka2}")
print(f"{angka1} > {angka2} adalah {angka1 > angka2}")
print(f"{angka1} <= {angka2} adalah {angka1 <= angka2}")
print(f"{angka1} >= {angka2} adalah {angka1 >= angka2}")

--- Program Perbandingan Dua Bilangan ---

--- Hasil ---
19 == 109 adalah False
19 != 109 adalah True
19 < 109 adalah True
19 > 109 adalah False
19 <= 109 adalah True
19 >= 109 adalah False