<a href="https://colab.research.google.com/github/dasihayu/Study---Algoritma-dan-Premrograman/blob/main/Jobsheet_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 1 - Tuple: Data Tetap**

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang: ", koordinat[0])
print("Bujur: ", koordinat[1])

Lintang:  7.05
Bujur:  110.44

**Praktikum 2 - Dictionary Dasar**

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM: ", mahasiswa["NIM"])
print("Nama: ", mahasiswa["Nama"])
print("Prodi: ", mahasiswa["Prodi"])

NIM:  20251001
Nama:  Andi
Prodi:  TRK

**Praktikum 3 - Operasi Dictionary**

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["Umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

**Praktikum 4 - Set dan Operasi Himpunan**

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("Union: ", A | B)
print("Intersection: ", A & B)
print("Difference: ", A - B)

Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection:  {4, 5}
Difference:  {1, 2, 3}

**Praktikum 5 - Studi Kasus (Mata Kuliah)**

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah mhs1: ", mhs1)
print("Mata kuliah mhs2: ", mhs2)
print("Mata kuliah yang sama: ", mhs1 & mhs2)

Mata kuliah mhs1:  {'Bahasa Inggris', 'Algoritma', 'Matematika'}
Mata kuliah mhs2:  {'Algoritma', 'Matematika', 'Basis Data'}
Mata kuliah yang sama:  {'Algoritma', 'Matematika'}

**Praktikum 6 - Studi Kasus (Dictionary Daftar Nilai)**

In [ ]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 92,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")
rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:2f}")

Andi: 85
Budi: 92
Cici: 90
Rata-rata nilai: 89.000000

***PENUGASAN***

**Tuple Sederhana**

In [1]:
mahasiswa = ("Dasi", 18, "TRK")

print("Nama:", mahasiswa[0])
print("Umur:", mahasiswa[1])
print("Prodi:", mahasiswa[2])

Nama: Dasi
Umur: 18
Prodi: TRK

**Tuple Tidak Bisa Dirubah**

In [2]:
data = (1, 2, 3)
data[0] = 10

print(data)

TypeError: 'tuple' object does not support item assignment

**Dictionary Dasar**

In [3]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print("Judul:", buku["Judul"])
print("Penulis:", buku["Penulis"])
print("Tahun:", buku["Tahun"])

Judul: Algoritma
Penulis: Munir
Tahun: 2021

**Operasi Dictionary**

In [4]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print("Hasil akhir dictionary:", dosen)

Hasil akhir dictionary: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

**Set dan Himpunan**

In [5]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

union_result = A.union(B)
intersection_result = A.intersection(B)
difference_result = A.difference(B)

print("Union:", union_result)
print("Intersection:", intersection_result)
print("Difference (A - B):", difference_result)

Union: {'Matematika', 'Algoritma', 'Bahasa Inggris', 'Basis Data'}
Intersection: {'Algoritma', 'Matematika'}
Difference (A - B): {'Bahasa Inggris'}

**Studi Kasus (Dictionary)**

In [6]:
nilai = {"Andi": 85, "Budi": 90, "Cici": 78}

print("Daftar nilai mahasiswa:")
total = 0
for nama in nilai:
    print(nama, ":", nilai[nama])
    total += nilai[nama]

rata = total / len(nilai)

print("Rata-rata nilai:", rata)

Daftar nilai mahasiswa:
Andi : 85
Budi : 90
Cici : 78
Rata-rata nilai: 84.33333333333333

**Studi Kasus Set (Klub Mahasiswa)**

In [7]:
klubA = {"Andi", "Budi", "Cici"}
klubB = {"Cici", "Deni", "Eka"}

print("Daftar seluruh anggota (union):", klubA.union(klubB))
print("Daftar anggota di kedua klub (intersection):", klubA.intersection(klubB))
print("Anggota yang hanya di Klub A (difference):", klubA.difference(klubB))

Daftar seluruh anggota (union): {'Deni', 'Cici', 'Eka', 'Budi', 'Andi'}
Daftar anggota di kedua klub (intersection): {'Cici'}
Anggota yang hanya di Klub A (difference): {'Budi', 'Andi'}