<a href="https://colab.research.google.com/github/dasihayu/Study---Algoritma-dan-Premrograman/blob/main/Jobsheet_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 1 - For dengan range**

In [1]:
for i in range (1, 6):
  print(i)

1
2
3
4
5

**Praktikum 2 - While (Hitung Mundur)**

In [2]:
n = 5
while n > 0:
  print(n)
  n -= 1
print("Selesai!")

5
4
3
2
1
Selesai!

Praktikum 3 - Nested Loop (Segitiga Bintang)

In [3]:
for i in range(1, 6):
  for j in range(1, i +1):
    print("*", end="")
  print()

*
**
***
****
*****

**Praktikum 4.1 - Break**

In [4]:
for i in range(1, 11):
  if i == 6:
    break
  print("Break :", i)

Break : 1
Break : 2
Break : 3
Break : 4
Break : 5

**Praktikum 4.2 - Continue**

In [5]:
for i in range(1, 6):
  if i == 3:
    continue
  print("Continue :", i)

Continue : 1
Continue : 2
Continue : 4
Continue : 5

**Praktikum 5 - For pada Dictionary**

In [6]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for key, value in data.items():
  print(key, ":", value)

Nama : Andi
Umur : 20
Prodi : TRK

**Praktikum 6 - For dengan enumerate**

In [7]:
nama = ["Andi", "Budi", "Cici"]

for index, name in enumerate(nama, start=1):
  print(index, ":", name)

1 : Andi
2 : Budi
3 : Cici

**Praktikum 7 - Kasir Multi-Item**

In [10]:
barang = [
    {"nama": "Buku", "harga": 50000, "jumlah": 2},
    {"nama": "Pulpen", "harga": 5000, "jumlah": 3}
]

total = 0

print("==== Struk Pembelian =====")
for item in barang:
  subtotal = item["harga"] * item["jumlah"]
  total += subtotal
  print(f"{item['nama']} - {item['harga']} (x {item['jumlah']}) = Rp{subtotal:,}")

print("==== Total Pembelian =====")
print(f"Total Bayar: Rp{total:,}")

==== Struk Pembelian =====
Buku - 50000 (x 2) = Rp100,000
Pulpen - 5000 (x 3) = Rp15,000
==== Total Pembelian =====
Total Bayar: Rp115,000

***PENUGASAN***

**Menampilkan Deret Angka**

In [11]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

**Hitung Faktorial**

In [12]:
n = int(input("Masukkan bilangan: "))

faktorial = 1
i = 1

while i <= n:
    faktorial *= i
    i += 1

print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan bilangan: 5
Faktorial dari 5 adalah 120

**Pola Segitiga Terbalik**

In [13]:
tinggi = 5

for i in range(tinggi, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

**Cari Bilangan Prima dengan Break**

In [15]:
bilangan = int(input("Masukkan sebuah bilangan: "))

is_prima = True

if bilangan > 1:
    for i in range(2, bilangan):
        if bilangan % i == 0:
            is_prima = False
            break
else:
    is_prima = False

if is_prima:
    print(f"{bilangan} adalah bilangan prima.")
else:
    print(f"{bilangan} bukan bilangan prima.")

Masukkan sebuah bilangan: 7
7 adalah bilangan prima.

**Tampilkan Hanya Bilangan Genap dengan Continue**

In [16]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

**Iterasi Dictionary Mahasiwa**

In [17]:
mahasiswa = {
    "Nama": "Budi",
    "Umur": 21,
    "Prodi": "Teknik Komputer"
}

for key, value in mahasiswa.items():
    print(f"{key} : {value}")

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

**Enumerate Daftar Barang**

In [18]:
barang = ["Buku", "Pulpen", "Tas"]

for nomor, nama in enumerate(barang, start=1):
    print(nomor, nama)

1 Buku
2 Pulpen
3 Tas

**Studi Kasus - Kasir Diskon**

In [19]:
print("=== Program Kasir Sederhana ===")
print("Ketik 'selesai' jika sudah selesai belanja.\n")

total = 0
barang_list = []

while True:
    nama = input("Masukkan nama barang: ")
    if nama.lower() == "selesai":
        break

    harga = int(input("Masukkan harga barang: "))
    jumlah = int(input("Masukkan jumlah barang: "))

    subtotal = harga * jumlah
    total += subtotal

    barang_list.append((nama, harga, jumlah, subtotal))
    print(f"Subtotal {nama}: Rp{subtotal:,}\n")

diskon = 0
if total >= 200000:
    diskon = total * 0.10
    total -= diskon

print("\n=== STRUK BELANJA ===")
for nama, harga, jumlah, subtotal in barang_list:
    print(f"{nama} (x{jumlah}) - Rp{harga:,} = Rp{subtotal:,}")

print("-----------------------------")
print(f"Diskon : Rp{diskon:,.0f}")
print(f"Total  : Rp{total:,.0f}")
print("=============================")
print("Terima kasih sudah berbelanja!")

=== Program Kasir Sederhana ===
Ketik 'selesai' jika sudah selesai belanja.

Masukkan nama barang: Pisang
Masukkan harga barang: 50000
Masukkan jumlah barang: 4
Subtotal Pisang: Rp200,000

Masukkan nama barang: Apel
Masukkan harga barang: 30000
Masukkan jumlah barang: 7
Subtotal Apel: Rp210,000

Masukkan nama barang: Selesai

=== STRUK BELANJA ===
Pisang (x4) - Rp50,000 = Rp200,000
Apel (x7) - Rp30,000 = Rp210,000
-----------------------------
Diskon : Rp41,000
Total  : Rp369,000
=============================
Terima kasih sudah berbelanja!